acres
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
assemblyai
asyncpg
attrs
audioop-lts
backoff
bcrypt
beautifulsoup4
blinker
boto3
botocore
build
cachetools
certifi
cffi
chardet
charset-normalizer
chromadb
ci-info
click
cloudevents
colorama
coloredlogs
configobj
configparser
cryptography
dataclasses-json
dateparser
deep-translator
defusedxml
deprecation
distro
duckduckgo_search
durationpy
elevenlabs
etelemetry
faiss-cpu
fastapi
filelock
fitz
Flask
flatbuffers
fonttools
fpdf
fpdf2
frozenlist
fsspec
functions-framework
gitdb
GitPython
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
googletrans
greenlet
grpcio
grpcio-status
gTTS
h11
h2
hpack
hstspreload
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
itsdangerous
jaraco.context
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
langdetect
langsmith
looseversion
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
more-itertools
mpmath
multidict
mypy_extensions
narwhals
networkx
nibabel
nipype
numpy
oauthlib
ollama
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pathlib
pdfminer.six
pdfplumber
pillow
playsound
pluggy
posthog
primp
propcache
proto-plus
protobuf
prov
puremagic
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydot
Pygments
pyparsing
pypdf
PyPDF2
pypdfium2
PyPika
pyproject_hooks
pyreadline3
pytest
python-dateutil
python-dotenv
pytz
pyxnat
PyYAML
rdflib
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rpds-py
rsa
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
simplejson
six
smmap
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
standard-aifc
standard-chunk
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
traits
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uv
uvicorn
watchdog
watchfiles
websocket-client
websockets
Werkzeug
wikipedia
wolframalpha
wrapt
xmltodict
yarl
zipp
zstandard
